body {
    margin: 0;
    font-family: sans-serif;
}
.game {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF8B47;
}
.level {
    background-color: antiquewhite;
    width: 300px;
    height: 460px;
    position: relative;
}
.level--hidden {
    display: none;
}
.menu {
    background-color: antiquewhite;
    width: 300px;
    height: 460px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu--hidden {
    display: none;
}
.ball {
    border-radius: 100%;
    background: radial-gradient(#FF8B47, #000);
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
}

.hole {
    border-radius: 100%;
    background: radial-gradient(#000, #555);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 290px;
    left: 130px;
    z-index: 1;
}

.btn {
    border: 1px solid #fc7121;
    background-color: #FF8B47;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

.last-time {
    margin-top: 20px;
    color: #fc7121;
    font-weight: bold;
}